
html { overflow-y: scroll; }

h1, h2, h3, h4 { color: #133346; }

table{
    border-collapse: collapse;
    border:2px solid ;
}
th{ border:2px solid ;  padding: 15px; }
td{ border:1px solid ;  padding: 15px; }


