
html { overflow-y: scroll; }

h1, h2, h3, h4 { color: #133346; }

/* keynote horizontal card pics */
.card-img{
  object-fit: contain; 
  max-height: 200px;
}

/* homepage card icon pics */
.card-img-top{
  object-fit: contain;
  max-height: 100px;
  border: 2px solid black;
  border-radius: 3px 3px 0 0;
}

/* agenda table on program page */
table{
    border-collapse: collapse;
    border:2px solid ;
}
th{ border:2px solid ;  padding: 15px; }
td{ border:1px solid ;  padding: 15px; }

/* shit added by balazs */
* {
  box-sizing: border-box;
}

/* Float four columns side by side */
.column {
  object-fit: contain; 
  float: left;
  width: 33%;
  padding: 0 10px;
}

/* Remove extra left and right margins, due to padding in columns */
.row {margin: 0 -5px;}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Style the counter cards */
.card-footer {
  box-shadow: 0; /* this adds the "card" effect */
  padding: 16px;
  text-align: center;
  background-color: #FFFFFF;
}

/* Responsive columns - one column layout (vertical) on small screens */
@media screen and (max-width: 600px) {
  .column {
    width: 100%;
    display: block;
    margin-bottom: 20px;
  }
}
