<!DOCTYPE html>
	<html>
		<head>
        <title>{{ page.title }}</title>
			<img src="/images/byteMAL_300dpi.png" alt="ByteMAL logo" style="width:300px;height:150px;">
			  <!-- link to main stylesheet -->
			  <link rel="stylesheet" type="text/css" href="/bytemal/css/main.css">
    </head>
		<body>
			    <nav>
	    		<ul>
		        	<li><a href="/about">About</a></li>
              <li><a href="/program">Program</a></li>
	        		<li><a href="/register">Register</a></li>
	        		<li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:david.barnett@maastrichtuniversity.nl">email</a></li>
	        		<li><a href="https://github.com/david-barnett/bytemal">github.com/david-barnett/bytemal</a></li>
				</ul>
			</footer>
		</body>
	</html>
