<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	
	<!-- Bootstrap CSS -->
    	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
	<!-- link to main stylesheet -->
	<link rel="stylesheet" type="text/css" href="/bytemal-2020/css/main.css">
	
</head>
<body>	
	<div class="container">
	
		<a href="/bytemal-2020/"><img src="/bytemal-2020/images/bytemal_2020.png" alt="ByteMAL_2020_logo" style="width:750px;height:147px;"></a>

		<nav class="navbar navbar-expand-md navbar-dark bg-dark">
		<div class="navbar-nav">
			<a class="nav-item nav-link" href="/bytemal-2020">Home</a>
			<a class="nav-item nav-link" href="/bytemal-2020/about">About</a>
			<a class="nav-item nav-link" href="/bytemal-2020/program">Program</a>
			<a class="nav-item nav-link" href="/bytemal-2020/register">Register</a>
			<a class="nav-item nav-link" href="/bytemal-2020/submit">Submit</a>
		</div>
		</nav>

		{{ content }}
			
		<footer>
			<ul>
				<li><a href="https://github.com/bytemal/bytemal-2020">github.com/bytemal/bytemal-2020</a></li>
			</ul>
		</footer>
		
	</div><!-- /.container -->
</body>
</html>
