<!DOCTYPE html>
	<html>
	<head>
        	<title>{{ page.title }}</title>
		<!-- link to main stylesheet -->
		<link rel="stylesheet" type="text/css" href="/bytemal-2020/css/main.css">
    	</head>
		<a href="/bytemal-2020/">
        		<img src="/bytemal-2020/images/bytemal_2020.png" alt="ByteMAL_2020_logo" style="width:750px;height:147px;"> 
		</a>
		
		<body>
			<nav>
	    		<ul>
		        	<li><a href="/bytemal-2020">Home</a></li>
				<li><a href="/bytemal-2020/about">About</a></li>
              			<li><a href="/bytemal-2020/program">Program</a></li>
	        		<li><a href="/bytemal-2020/register">Register</a></li>
	        		<li><a href="/bytemal-2020/submit">Submit</a></li>
	    		</ul>
			</nav>
			
			<div class="container">
			
				{{ content }}
			
			</div><!-- /.container -->
			
			<footer>
	    			<ul>
	        		<li><a href="https://github.com/bytemal/bytemal-2020">github.com/bytemal/bytemal-2020</a></li>
				</ul>
			</footer>
		</body>
	</html>
